.vs/
BackendTests/BackendTests.csproj
BackendTests/obj/
TelegramBot/TelegramBot.csproj
TelegramBot/obj/
TelegramBot/bin/
TelegramBot/AppSettings.cs
WebApi/.vs/
WebApi/Properties/
WebApi/WebStore.csproj
WebApi/WebStore.sln
WebApi/appsettings.Development.json
WebApi/appsettings.json
WebApi/obj/
WebApi/bin
